{% extends 'base.html' %}

{% block title %}Edit details{% endblock %}

{% block content %}
<div class="container">
    <br />

    <h2>Developers details</h2>
    <br />
    <form method="POST" class="form" novalidate>
        {% csrf_token %}
        {% for form in fm %}

        <div class="row">
            <div class="col-3">
                <label for="domain">
                    {{ form.label }}
                </label>
            </div>
            <div class="col-6">
                {{form}}
            </div>
            <div class="col-3">
                <span class="text-danger">{{ form.errors }}</span>
            </div>
        </div>
        {% endfor %}
        <br>
        <div class="col-9 text-center">
            <button class="btn btn-success " name="submit">Submit </button>
        </div>
        
    </form>
</div>
{% endblock %}